.icon-canyin {
    width: 46px;
    height: 46px;
    background: url('../image/css_sprites.png') -58px -4px;
}

.icon-chaoshi {
    width: 46px;
    height: 46px;
    background: url('../image/css_sprites.png') -166px -112px;
}

.icon-fushi {
    width: 46px;
    height: 46px;
    background: url('../image/css_sprites.png') -4px -58px;
}

.icon-gongzi {
    width: 46px;
    height: 46px;
    background: url('../image/css_sprites.png') -58px -58px;
}

.icon-jianzhi {
    width: 46px;
    height: 46px;
    background: url('../image/css_sprites.png') -112px -4px;
}

.icon-jiaotong {
    width: 46px;
    height: 46px;
    background: url('../image/css_sprites.png') -112px -58px;
}

.icon-jiushui {
    width: 46px;
    height: 46px;
    background: url('../image/css_sprites.png') -4px -112px;
}

.icon-liren {
    width: 46px;
    height: 46px;
    background: url('../image/css_sprites.png') -58px -112px;
}

.icon-lingshi {
    width: 46px;
    height: 46px;
    background: url('../image/css_sprites.png') -112px -112px;
}

.icon-lvyou {
    width: 46px;
    height: 46px;
    background: url('../image/css_sprites.png') -166px -4px;
}

.icon-riyong {
    width: 46px;
    height: 46px;
    background: url('../image/css_sprites.png') -166px -58px;
}

.icon-shouru {
    width: 46px;
    height: 46px;
    background: url('../image/css_sprites.png') -4px -4px;
}

.icon-shu {
    width: 46px;
    height: 46px;
    background: url('../image/css_sprites.png') -4px -166px;
}

.icon-shuacai {
    width: 46px;
    height: 46px;
    background: url('../image/css_sprites.png') -58px -166px;
}

.icon-shuma {
    width: 46px;
    height: 46px;
    background: url('../image/css_sprites.png') -112px -166px;
}

.icon-shuiguo {
    width: 46px;
    height: 45px;
    background: url('../image/css_sprites.png') -112px -220px;
}

.icon-tongxun {
    width: 46px;
    height: 46px;
    background: url('../image/css_sprites.png') -220px -4px;
}

.icon-touzi {
    width: 46px;
    height: 46px;
    background: url('../image/css_sprites.png') -220px -58px;
}

.icon-wanggou {
    width: 46px;
    height: 46px;
    background: url('../image/css_sprites.png') -220px -112px;
}

.icon-yiban {
    width: 46px;
    height: 46px;
    background: url('../image/css_sprites.png') -220px -166px;
}

.icon-yiyuan {
    width: 46px;
    height: 46px;
    background: url('../image/css_sprites.png') -4px -220px;
}

.icon-yundong {
    width: 46px;
    height: 46px;
    background: url('../image/css_sprites.png') -166px -166px;
}

.icon-zhufang {
    width: 46px;
    height: 46px;
    background: url('../image/css_sprites.png') -58px -220px;
}